body{
    background: rgb(54,217,182);
    background: linear-gradient(90deg, rgb(189, 251, 255) 0%, rgb(133, 255, 229) 43%, rgb(59, 222, 255) 100%);
}


h1, h2, h3, h4, h5, p, span, strike{
    font-family: 'Montserrat', sans-serif;

}

.container {
    position: relative;
}

#search {
    position: absolute;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #fff;
    left: 120px;
    top: -100px;
    padding: 10px;
    border-radius: 10px 10px 5px 5px;
    font-size: 20px;
    width: 900px;
}

#list-wrapper {
    padding: 10px;
}


#task-container{
    max-width:900px;
    margin:0 auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #fff;
    
    margin-top:100px;
    margin-bottom:100px;

    justify-content: space-around;
    align-items: flex-start;

    border-radius: 10px;

}

#form-wrapper{
    position: -webkit-sticky;
    position: sticky;
    top: 0rem;
    border-bottom: 1px solid  #e9e9e9;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
    padding:40px;
}

#submit{
    background-color: #36d9b6;
    border-radius: 0;
    border:0;
    color: #fff;
}

.flex-wrapper{
    display: flex;
}

.contact_wrapper {
    padding: 4px 0;
    border-bottom: 1px solid #aaaaaa;
}

.task-wrapper{
    margin:5px;
    padding: 5px;
    padding:20px;
    cursor: pointer;
    border-bottom: 1px solid #e9e9e9;
    color: #686868;
}

.pag {
    cursor: pointer;
}

#pagination {
    text-align: center;
}

#pagination span{
    padding: 0 5px;
    margin-top: 10px;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 5px;
}

.hide {
    display: none;
}

.form-block {
    padding: 20px;
}

.panel {
    margin: 20px;
}

.panel_button {
    padding: 10px;
    margin: 10px 0;
    font-size: 24px;
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
    border-radius: 10px;
    width: 120px;
    cursor: pointer;
}

a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: black;
  }
  
  a:active {
    color: black;
  }